# hydra config
hydra:
  run:
    dir: ${log_path} # the log path, used for log and checkpoint
  sweep:
    dir: logs/
    subdir: ${experiment}/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweeper:
    params:
      model.fuse_method: pose_atn
      model.fusion_layers: 0, 1, 2, 3, 4, 5
      model.backbone: 3dcnn

loss:
  lr: 0.0001
  beta1: 0.5 # decapture
  beta2: 0.999 # decapture

  selection: ["cls", "attn_loss", "bg", "tmp"] # the loss selection for the total loss

  lambda_list: [0.25, 0.5, 0.75, 1.0] # the lambda list for the total loss
  w_bg: 0.2 # the weight of background class for the loss function, used for cross validation with different class number
  w_temp: 0.05 # the weight of temporal smoothness for the loss function, used for cross validation with different class number

data:
  root_path: /workspace/data

  video_path: ${data.root_path}/videos
  annotation_path: ${data.root_path}/label
  image_path: ${data.root_path}/image
  kpt_path: ${data.root_path}/kpt

  index_mapping: ${data.root_path}/index_mapping # training mapping path, this used for cross validation, with different class number.

  num_workers: 12
  img_size: 224

  batch_size: 1 # load video number
  video_batch_size: 32

  fold: 5 # the fold number of the cross validation
  kpt_ext: .npz
  kpt_key: null

model:
  backbone: 3dcnn # choices=[3dcnn, 2dcnn, cnn_lstm, two_stream], help='the backbone of the model'
  model_class_num: 9 # the class num, left, right, up, down, left_up, left_down, right_up, right_down, front
  use_side_heads: True # whether to use side heads for intermediate supervision

  fuse_method: late # add, mul, concat, none, late, avg, cross_atn, se_atn, pose_atn, kpt_fuse
  fusion_layers: 5 # the fuse layer number of the model, used for cross attention, se attention, etc.
  ablation_study: single # choices=[single, multi], help='the ablation study of the model, single means only one layer is used for fusion, multi means multiple layers are used for fusion'
  kpt_in_dim: 3
  kpt_hidden_dim: 128
  kpt_dropout: 0.1
  kpt_fusion_weight: 0.5

train:
  # Training config
  max_epochs: 50 # numer of epochs of training

  # used for val
  clip_duration: 1 # clip duration for the video
  uniform_temporal_subsample_num: 8 # num frame from the clip duration, f or define one gait cycle, we need use whole frames.
  kpt_num_samples: 8

  view: multi # single or multi

  gpu: 0 # choices=[0, 1], help='the gpu number whicht to train'

log_path: logs/train/${experiment}/${now:%Y-%m-%d}/${now:%H-%M-%S}
experiment: view_${train.view}_${model.backbone}_fuse_method_${model.fuse_method}_${model.ablation_study}_${model.fusion_layers} # the experiment name, used for log path
